@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Koulen&family=Libre+Bodoni:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Libre+Bodoni:ital,wght@1,600&display=swap");
/*/ index /*/
/*/header (se comparte en todos los html)/*/
.contenedorHeader {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #f7f2f2, #5cabf5); }
  .contenedorHeader .tituloLogo {
    display: flex;
    justify-content: center;
    align-items: center; }
    .contenedorHeader .tituloLogo .imgLogo {
      height: 80px; }
    .contenedorHeader .tituloLogo .tituloPrincipal {
      font-family: 'Koulen', cursive;
      font-size: 5rem; }
  .contenedorHeader nav {
    display: flex;
    justify-content: center; }
    .contenedorHeader nav .menuNav {
      display: flex;
      align-items: center;
      list-style: none;
      margin-right: 15px; }
      .contenedorHeader nav .menuNav a {
        font-family: 'Koulen', cursive;
        font-size: 1.1rem;
        padding: 0 1rem 0 1rem;
        text-decoration: none;
        text-align: center;
        position: relative;
        display: block;
        text-transform: uppercase;
        color: white; }

.contenedorHeader nav .menuNav li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.3rem;
  background-color: #0712a1;
  transition: 0.7s; }

.contenedorHeader nav .menuNav li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0.3rem;
  background-color: #070707;
  transition: 0.7s; }

.contenedorHeader nav .menuNav li:hover a {
  color: #070707; }

.contenedorHeader nav .menuNav li:hover a::before {
  width: 50%; }

.contenedorHeader nav .menuNav li:hover a::after {
  width: 50%; }

@media (max-width: 1000px) {
  .contenedorHeader {
    flex-direction: column; }
    .contenedorHeader nav .menuNav li a {
      font-size: 1rem;
      padding: 0 1rem 0 1rem; } }

@media (max-width: 700px) {
  .contenedorHeader {
    flex-direction: column; }
    .contenedorHeader nav .menuNav li a {
      font-size: 0.7rem;
      color: black;
      padding: 0 0.3rem 0 0.3rem; } }

/*/subtitulo/*/
.subtitulo {
  text-align: center;
  margin-top: 15px;
  padding: 15px;
  background-image: linear-gradient(to left, #f7f2f2, #5cabf5, #f7f2f2); }
  .subtitulo h2 {
    font-family: 'Koulen', cursive;
    font-size: 2rem; }

/*/section/*/
.contenedorSection {
  height: 50vh;
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr;
  font-size: 1.5rem;
  gap: 1em; }
  .contenedorSection .hijoP {
    justify-content: center;
    align-items: center;
    display: flex;
    border: 3px #eee6e6 solid;
    background-color: aliceblue;
    border-radius: 13px;
    width: 70%;
    opacity: 0.6; }
  .contenedorSection .hijo1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 3rem;
    background-image: url(../img/precio.png); }
  .contenedorSection .hijo2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 3rem;
    background-image: url(../img/mvh.jpg); }
  .contenedorSection .hijo3 {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 3rem;
    background-image: url(../img/azafata-4.jpg); }
  .contenedorSection .hijo4 {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 3rem;
    background-image: url(../img/seguro.png); }
  .contenedorSection .cardtext {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.span1 {
  color: green; }

@media (max-width: 1200px) {
  .contenedorSection {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 400px; } }

@media (max-width: 600px) {
  .contenedorSection .cardtext {
    font-size: 0.8rem; } }

/*/footer/*/
.footerI {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to left, #f7f2f2, #5cabf5, #f7f2f2);
  font-size: 1.5rem;
  width: 100%; }

/*/viajes nacionales/*/
.subtituloVN {
  text-align: center;
  font-family: 'Akshar', sans-serif;
  font-size: 2.3rem;
  padding: 30PX;
  border: 3px #eee6e6 solid;
  background-color: #393f46;
  opacity: 0.9;
  color: aliceblue; }

/*/main/*/
.mainVN {
  background-image: linear-gradient(to left, #f7f2f2, #5cabf5, #f7f2f2); }

.viajesN {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content max-content max-content;
  gap: 1rem; }
  .viajesN .card {
    box-shadow: 0 2px 2px black;
    border-radius: 10px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center; }
    .viajesN .card .textos {
      font-family: 'Akshar', sans-serif;
      font-size: 1.5rem; }

@media (max-width: 752px) {
  .viajesN {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
    gap: 0.5rem; } }

@media (max-width: 752px) {
  .textos {
    font-size: 0.5rem; } }

/*/footer/*/
.footerVN {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to left, #f7f2f2, #5cabf5, #f7f2f2);
  font-size: 1.5rem;
  width: 100%; }

/*/viajes internacionales/*/
.subtituloVI {
  text-align: center;
  font-family: 'Akshar', sans-serif;
  font-size: 2.3rem;
  padding: 30PX;
  border: 3px #eee6e6 solid;
  background-color: #393f46;
  opacity: 0.9;
  color: aliceblue; }

.subtitulo2VI {
  text-align: center;
  margin: 30px; }

.containervi {
  background-image: url(../img/guirnalda-banderas-colores-diferentes-paises-europa-mundo-confeti-guirnaldas-festivas-banderin-internacional-guirnaldas-empavesado-banner-fiesta-celebracion-conferencia_302982-248.webp);
  margin-top: 30px;
  overflow-x: hidden; }
  .containervi .card-text {
    font-family: 'Akshar', sans-serif; }

.footerVI {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to left, #f7f2f2, #5cabf5, #f7f2f2);
  font-size: 1.5rem;
  width: 100%; }

/*/contacto/*/
/*/logo y nav/*/
.subtituloC {
  text-align: center;
  margin: 30px 10px 30px 10px;
  font-family: 'Akshar', sans-serif; }
  .subtituloC .subtituloContacto {
    font-size: 3rem;
    border: 3px #eee6e6 solid;
    background-color: #393f46;
    opacity: 0.9;
    color: white; }

.containerc {
  background-color: #b2b1df;
  overflow-x: hidden;
  margin-bottom: 100px; }

.footerC {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to left, #f7f2f2, #5cabf5, #f7f2f2);
  font-size: 1.5rem;
  width: 100%;
  margin-top: 240px; }

/*/ la empresa /*/
.tituloLe {
  text-align: center;
  font-family: 'Akshar', sans-serif;
  font-size: 2.3rem;
  padding: 30PX;
  border: 3px #eee6e6 solid;
  background-color: #393f46;
  opacity: 0.9;
  color: aliceblue; }

.contenedorMainLe {
  background-image: url(../img/nubes_destacada-1024x682.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  display: flex;
  margin: 50px;
  padding-bottom: 30px;
  flex-direction: column;
  gap: 3rem;
  border: 3px #eee6e6 solid;
  border-radius: 15px;
  background-color: #3f6b9c;
  opacity: 0.9; }
  .contenedorMainLe .tituMainLe {
    text-align: center;
    font-family: font-family "Koulen", cursive;
    margin: 15px;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
  .contenedorMainLe .textoMainLe {
    font-size: 1.5rem;
    text-align: center;
    border: 3px #eee6e6 solid;
    border-radius: 20px;
    opacity: 0.5;
    background-color: #161616; }

.footerLe {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to left, #f7f2f2, #5cabf5, #f7f2f2);
  font-size: 1.5rem;
  width: 100%;
  margin-top: 100px; }
