
$colorFondo: linear-gradient(to left, rgb(247, 242, 242), rgb(92, 171, 245), rgb(247, 242, 242));
$font-titulos: font-family 'Koulen', cursive;

//mixin
@mixin navR {
    
}
@mixin cardsText {display: flex;
                flex-direction: column;
                font-size: 1.5rem;
                font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
}
@mixin hijosIndex {
    text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 3rem;    
}

@mixin header {
    background-image: $colorFondo;
    display: grid;
    align-items: center;
    width: 100%;
    
    
}

@mixin TyL {display: flex;
    grid-column: 1/2;
    justify-content: center;
    text-transform: uppercase;
}

//mapas

$map1: (
    color-map1: rgb(17, 15, 15),
    border-map1: 3px rgb(238, 230, 230) solid
);

//extend
%ext1{
    font-family: 'Koulen', cursive;
    font-size: 1.2rem;
    color: aliceblue;
    padding-left: 1rem;
    padding-right: 1rem;
}